    <div class="jumbotron">
      <div class="container">
        <div id="mycarousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="item active">
            <img src="../../../app/assets/images/sky_jump_header.jpg" alt="" class="img-responsive">
              <div class="carousel-caption">
                <div class='textOnLoad'>
                  <h1>Bucket List</h1>
                  <p id="quote">"Make your life a masterpiece; imagine no limitations on what you can be, have or do."</p>
                  <p id="author">- Brian Tracy</p>
                </div>
                <p><button type="button" class="btn btn-lg btn-success create-bucket-list" onclick="location.href='../user/guest'">Create Bucket List!</button>
                <a class="btn btn-primary btn-lg learn-more" role="button">Learn more &raquo;</a></p>
                <div class="learnMoreText">
                  <p>Store. Track. Reference. Share.</p>
                  <p>This is an app that lets you keep all of those
                  bucketlist type items in a single place. Places you've always wanted to visit, things you've always wanted to get, people you've always wanted to meet, you can store all of them here and share them with friends who might want to share in your experiences.</p>
                  <p>Give us a shot by clicking on the button above.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>